name: Run App from GitHub Release

on:
  workflow_dispatch:

jobs:
  run-app:
    runs-on: ubuntu-latest
    
    steps:
    
    - name: Download latest release
      run: |
        # Get latest release download URL
        DOWNLOAD_URL=$(curl -s https://api.github.com/repos/ncino/dbpatchmanager/releases/latest | grep "browser_download_url.*linux" | cut -d '"' -f 4)
        wget $DOWNLOAD_URL -O dbpatch
        chmod +x dbpatch
    - name: Make tool global
      run: |
        sudo cp dbpatch /usr/local/bin

    
    - name: Run executable
      run: dbpatch help
 
