# JIT Build
name: Test DBPatch Manager

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: write
  checks: write

jobs:       
  

  Build-UI-Database:
    runs-on: ubuntu-latest
    defaults: 
      run:
        working-directory: ./
        
    steps: 
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Latest Tag
        id: get_latest_tag
        run: |
              OWNER="ncino"
              REPO="dbpatchmanager"
              API_URL="https://api.github.com/repos/$OWNER/$REPO/releases/latest"

              # Make the curl request to get the latest release
              response=$(curl -s $API_URL)

              # Check if the curl command was successful
              if [ $? -ne 0 ]; then
                echo "Error fetching latest release."
                exit 1
              fi

              # Extract the tag name and asset download URL from the response
              version=$(echo "$response" | jq -r .tag_name)
              cliAssetUrl=$(echo "$response" | jq -r '.assets[] | select(.name | test(".zip")) | .browser_download_url')

              if [ -z "$version" ] || [ -z "$cliAssetUrl" ]; then
                echo "Error: No valid release or assets found."
                exit 1
              fi

              # Set outputs for the latest tag and cli asset URL
              echo "Latest release version: $version"
              echo "cliAssetUrl: $cliAssetUrl"
              
              echo "::set-output name=latestTag::$version"
              echo "::set-output name=cliAssetUrl::$cliAssetUrl"
            
      - name: Display Release Info
        run: |
          echo "Latest Release Version: ${{ steps.get-latest-tag.outputs.latestTag }}"
          echo "CLI Asset URL: ${{ steps.get-latest-tag.outputs.cliAssetUrl }}"

      - name: Download DbpatchManager CLI
        run: |
          echo "Downloading dbpatchmanager CLI..."
          curl -L -o dbpatchmanager.zip ${{ steps.get-latest-tag.outputs.cliAssetUrl }}
          echo "Unzipping dbpatchmanager CLI..."
          unzip -o dbpatchmanager.zip -d ./dbpatchmanager
          echo "Dbpatchmanager CLI downloaded and unzipped."

      - name: Install SQL Module for Powershell
        shell: pwsh
        run: Install-Module -Name SqlServer -Scope CurrentUser -Force

      - name: Make tool global
        run: |
          cd Release
          ls -al
          dotnet tool install --global --add-source . Ormico.DbPatchManager.CLI
      - name: Run tool
        run: |
          dbpatch version
